*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  overflow-y: scroll;
  background-color: blanchedalmond;
}
